.signup-container {
  background-color: rgb(63, 81, 181);
  padding: 60px 60px 40px 60px;
  width: 50%;
  height: 100vh;
  font-size: large;
  color: rgb(255, 255, 255);
  float: right;
}

.signup-title {
  font-weight: 300;
}

.button-container {
  text-align: center;
  margin-top: 100px;
}

.item {
  margin-bottom: 5px;
}

.coins {
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .signup-container {
    width: 100%;
  }
}


